# Django Core
SECRET_KEY=your_secret_key_here
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Database (MySQL)
DATABASE_ENGINE=django.db.backends.mysql
DATABASE_NAME=payment_db
DATABASE_USER=payment_user
DATABASE_PASSWORD=secure_password
DATABASE_HOST=127.0.0.1
DATABASE_PORT=3306

# Celery & RabbitMQ
CELERY_BROKER_URL=amqp://guest:guest@localhost:5672//
CELERY_RESULT_BACKEND=django-db

# Alipay Configuration
ALIPAY_APP_ID=your_alipay_app_id
ALIPAY_APP_PRIVATE_KEY_STRING="-----BEGIN RSA PRIVATE KEY-----\n...your private key...\n-----END RSA PRIVATE KEY-----"
ALIPAY_PUBLIC_KEY_STRING="-----BEGIN PUBLIC KEY-----\n...Alipay public key...\n-----END PUBLIC KEY-----"
ALIPAY_SIGN_TYPE=RSA2
ALIPAY_DEBUG=False
